<h1><%= @patient.name %></h1>
<table>
  <thead>
    <tr>
      <th>Date & Time</th>
      <th>Doctor Name</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.appointments.each do |appt| %>
      <tr>
        <td><%= appt.formatted_datetime %></td>
        <td><%= link_to appt.doctor.name, doctor_path(appt.doctor) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
